  
  <!-- First Parallax Image with Logo Text -->
  <div class="dark:bg-black dark:text-white" id="home">
    <div class="display-middle" style="white-space:nowrap;">
      <figure>
        <img class="phone-device-img" src="./assets/logo-1:1.png" alt="kenneth Logo" />
        <img class="website-img" src="./assets/logo-16:9.png" alt="kenneth Logo" />
      </figure>
    </div>
  </div>
  
  <!-- Container (About Section) -->
  <div class="content container padding-64" id="about">
    <h3 class="center">ABOUT ME</h3>
    <p class="center"><em>I love photography</em></p>
    <p>We have created a fictional "personal" website/blog, and our fictional character is a hobby photographer. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
      qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <div class="row">
      <div class="col m6 center padding-large">
        <img src="./assets/knnthpicture.jpg" class="round image opacity hover-opacity-off mine-photo" alt="Photo of Me" width="500" height="333">
        <p><b><i class="fa fa-user margin-right"></i>{{grettings}}</b></p><br>
      </div>
  
      <!-- Hide this text on small devices -->
      <div class="col m6 hide-small padding-large">
        <p>Welcome to my website. I am lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
    <p class="large center padding-16">Im really good at:</p>
    <p class="wide"><i class="fa fa-camera"></i>Photography</p>
    <div class="light-grey">
      <div class="container padding-small dark-grey center" style="width:90%">90%</div>
    </div>
    <p class="wide"><i class="fa fa-laptop"></i>Web Design</p>
    <div class="light-grey">
      <div class="container padding-small dark-grey center" style="width:85%">85%</div>
    </div>
    <p class="wide"><i class="fa fa-photo"></i>Photoshop</p>
    <div class="light-grey">
      <div class="container padding-small dark-grey center" style="width:75%">75%</div>
    </div>
  </div>
  
  <div class="row center dark-grey padding-16">
    <div class="quarter section">
      <span class="xlarge">14+</span><br>
      Partners
    </div>
    <div class="quarter section">
      <span class="xlarge">55+</span><br>
      Projects Done
    </div>
    <div class="quarter section">
      <span class="xlarge">89+</span><br>
      Happy Clients
    </div>
    <div class="quarter section">
      <span class="xlarge">150+</span><br>
      Meetings
    </div>
  </div>
  
  <!-- Second Parallax Image with Portfolio Text -->
  <div class="bgimg-2 display-container opacity-min">
    <div class="display-middle">
      <span class="xxlarge text-white wide">PORTFOLIO</span>
    </div>
  </div>
  
  <!-- Container (Portfolio Section) -->
  <div class="content container padding-64" id="portfolio">
    <h3 class="center">MY WORK</h3>
    <p class="center"><em>Here are some of my latest lorem work ipsum tipsum.<br> Click on the images to make them bigger</em></p><br>
  
    <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
    <div class="row-padding center">
      <div class="col m3">
        <img src="/w3images/p1.jpg" style="width:100%" onclick="onClick(this)" class="hover-opacity" alt="The mist over the mountains">
      </div>
  
      <div class="col m3">
        <img src="/w3images/p2.jpg" style="width:100%" onclick="onClick(this)" class="hover-opacity" alt="Coffee beans">
      </div>
  
      <div class="col m3">
        <img src="/w3images/p3.jpg" style="width:100%" onclick="onClick(this)" class="hover-opacity" alt="Bear closeup">
      </div>
  
      <div class="col m3">
        <img src="/w3images/p4.jpg" style="width:100%" onclick="onClick(this)" class="hover-opacity" alt="Quiet ocean">
      </div>
    </div>
  
    <div class="row-padding center section">
      <div class="col m3">
        <img src="/w3images/p5.jpg" style="width:100%" onclick="onClick(this)" class="hover-opacity" alt="The mist">
      </div>
  
      <div class="col m3">
        <img src="/w3images/p6.jpg" style="width:100%" onclick="onClick(this)" class="hover-opacity" alt="My beloved typewriter">
      </div>
  
      <div class="col m3">
        <img src="/w3images/p7.jpg" style="width:100%" onclick="onClick(this)" class="hover-opacity" alt="Empty ghost train">
      </div>
  
      <div class="col m3">
        <img src="/w3images/p8.jpg" style="width:100%" onclick="onClick(this)" class="hover-opacity" alt="Sailing">
      </div>
      <button class="button padding-large light-grey" style="margin-top:64px">LOAD MORE</button>
    </div>
  </div>
  
  <!-- Modal for full size images on click-->
  <div id="modal01" class="modal black" onclick="this.style.display='none'">
    <span class="button large black display-topright" title="Close Modal Image"><i class="fa fa-remove"></i></span>
    <div class="modal-content animate-zoom center transparent padding-64">
      <img id="img01" class="image">
      <p id="caption" class="opacity large"></p>
    </div>
  </div>
  
  <!-- Third Parallax Image with Portfolio Text -->
  <div class="bgimg-3 display-container opacity-min">
    <div class="display-middle">
       <span class="xxlarge text-white wide">CONTACT</span>
    </div>
  </div>
  
  <!-- Container (Contact Section) -->
  <div class="content container padding-64" id="contact">
    <h3 class="center">WHERE I WORK</h3>
    <p class="center"><em>I'd love your feedback!</em></p>
  
    <div class="row padding-32 section">
      <div class="col m4 container">
        <img src="/w3images/map.jpg" class="image round" style="width:100%">
      </div>
      <div class="col m8 panel">
        <div class="large margin-bottom">
          <i class="fa fa-map-marker fa-fw hover-text-black xlarge margin-right"></i> Chicago, US<br>
          <i class="fa fa-phone fa-fw hover-text-black xlarge margin-right"></i> Phone: +00 151515<br>
          <i class="fa fa-envelope fa-fw hover-text-black xlarge margin-right"></i> Email: {{email}}<br>
        </div>
        <p>Swing by for a cup of <i class="fa fa-coffee"></i>, or leave me a note:</p>
        <form action="/action_page.php" target="_blank">
          <div class="row-padding" style="margin:0 -16px 8px -16px">
            <div class="half">
              <input class="input border" type="text" placeholder="Name" required name="Name">
            </div>
            <div class="half">
              <input class="input border" type="text" placeholder="Email" required name="Email">
            </div>
          </div>
          <input class="input border" type="text" placeholder="Message" required name="Message">
          <button class="button black right section" type="submit">
            <i class="fa fa-paper-plane"></i> SEND MESSAGE
          </button>
        </form>
      </div>
    </div>
  </div>