<section id="home" class="">
  <section class="flex flex-col md:flex-row items-center justify-center max-md:mt-8 md:gap-x-4">
    <figure class="rounded-full overflow-hidden min-w-85 min-h-85 max-w-[95%]
    border border-neutral-500/30 shadow shadow-black/20 ">
      <img class="w-full h-auto" src="assets/perfil.webp" alt="photo" />
    </figure>
    <article id="about" class="flex flex-col items-center text-center
    justify-center pt-16 max-w-xl max-md:px-4">
      <h1 class="w-full text-3xl font-bold text-center mt-3 pb-10">
        Kenneth Briones
      </h1>
      <h2 class="w-full text-3xl font-bold mt-3 mb-10 cursor-pointer">
        <a href="https://github.com/knnthdev" target="_blank" class="no-underline">
          <i class="fa-brands fa-github"></i>
          knnthdev
        </a>
      </h2>
      <h3 class="text-2xl font-bold mb-5">Convierto tus ideas de negocio en soluciones digitales atractivas y
        funcionales 🍀</h3>
      <p class="text-lg text-secondary text-left ">
        Soy un apasionado del marketing digital. Me considero un admirador de las estrategias disruptivas, el
        crecimiento orgánico y la magia de conectar marcas con personas. Mi obsesión es transformar clics en conexiones
        reales y potenciar la interacción en cada red social. ¡Bienvenido a mi espacio! Desliza hacia abajo y descubre
        cómo puedo hacer que tu comunidad no pare de hablar de ti.
      </p>
    </article>
  </section>
  <section id="portfolio" class="flex flex-col items-center justify-center pt-32">
    <div class="flex flex-col w-full shadow-2xl">
      @for (project of projects; track $index) {
      <div class="flex {{($index % 2 == 0) ? 'silver' : 'dark' }} max-md:flex-col silver:md:flex-row-reverse items-center
        md:p-4 py-8 w-full gap-y-4">

        <figure class="md:rounded-lg overflow-hidden md:min-w-85 w-full h-max lg:max-w-[55%]
         ">
          <img class="w-full h-fit object-cover backdrop:grayscale" [src]="project.image" alt="Project Image" />
        </figure>

        <div class="text-center md:p-auto mx-auto max-w-xl min-h-2xl ">
          <h3 class="text-xl font-bold mb-1">{{ project.title }}</h3>
          <p class="text-[var(--text-secondary)] mb-2 max-md:px-4 md:mx-8 max-md:text-justify md:text-left">
            {{ project.description }}
          </p>
          <button class="bg-btn-submit ring-1 ring-btn-secondary rounded-lg px-3 py-1 transition hover:scale-105
          focus:bg-btn-secondary ">
            <a class="flex flex-row items-center justify-center gap-2 text-secondary 
            " routerLink="/{{project.link}}" target="_self">
              Ver más <i class="fa-solid fa-arrow-right"></i>
            </a>
          </button>
        </div>

      </div>
      }
    </div>
  </section>
  <section id="contact" class="block pt-16 md:scroll-mt-[10px]">
      <app-contact class="mb-9"></app-contact>
  </section>
</section>