@reference "../../../styles.css";


/* figure {
  position: relative;
  box-sizing: border-box;
  margin: 0 10px;
  padding: 0;
  box-shadow: lightblue 0px 0px 12px 1px;
}

figure img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
} */

