<div class="mx-3">
  <div class="flex flex-row max-md:flex-col gap-4">
    <!-- <section class="w-full">
      <form id="contact-form" class="md:max-w-md sm:w-full mx-auto my-9">
        <formgroup id="put_name" class="mb-5">
          <label
            for="name"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Escribe tu nombre</label
          >
          <input
            type="text"
            id="name"
            name="name"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Dejame saber tu nombre..."
            required
          />
        </formgroup>
        <formgroup id="put_email" class="mb-5">
          <label
            for="email"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Escribe tu email</label
          >
          <input
            type="email"
            id="email"
            name="email"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="name@example.com"
            required
          />
        </formgroup>

        <formgroup id="put_msg" class="mb-5">
          <label
            for="message"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Escribe tu mensaje</label
          >
          <textarea
            id="message"
            name="message"
            rows="4"
            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="En qué te puedo ayudarte?..."
          ></textarea>
        </formgroup>

        <fieldset id="checkboxes" class="flex items-start my-5">
          <formgroup class="flex items-center h-5">
            <input
              id="chb-1"
              name="chb-1"
              type="checkbox"
              value=""
              class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"
            />
            <label
                data-tooltip="Si tienes prisa con algún proyecto clickea aquí"
                for="chb-1"
                class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                >Me Urge</label
              >
          </formgroup>
        </fieldset>
        <button
          type="submit"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Enviar
        </button>
      </form>
      <console id="console" class="block h-max w-full mx-auto p-3 bg-[#111] rounded-sm shadow-lg ">

      </console>
    </section> -->

    <section class="w-full md:my-9 md:flex md:flex-col md:justify-between">
      <section>
              <h1 class="text-2xl">
        <i class="fas fa-envelope"></i>
        <strong> Contáctame </strong>
      </h1>
      <p>
        Si tienes alguna duda o necesitas ayuda, no dudes en contactarme. Mi
        equipo y yo estaremos encantado de ayudarte.
      </p>
      </section>

      <section id="box-ref" class="flex flex-row gap-2">
        <section id="direct-contact">
          <div class="">
            <h3 class="text-xl font-bold">Email</h3>
            <a
              class="text-green-500 hover:text-green-700"
              href="mailto:knnthdev@gmail.com"
              >{{ email }}</a
            >
          </div>
          <div class="">
            <h3 class="text-xl font-bold">Teléfono</h3>
            <a
              class="text-green-500 hover:text-green-700"
              href="https://wa.me/50584739470"
            >
              <i class="fa-brands fa-whatsapp"></i>
              <label class="cursor-pointer ml-2">+505 8473 9470</label>
            </a>
          </div>
        </section>

        <div class="flex flex-col items-center justify-center gap-2">
          <h3 class="text-xl font-bold">Redes Sociales</h3>
          <div class="flex gap-3">
            <a
              class="text-green-500 hover:text-green-700"
              href="https://www.linkedin.com/in/kenneth-b-743443b6/"
              target="_blank"
            >
              <i class="fab fa-linkedin"></i>
            </a>
            <a
              class="text-green-500 hover:text-green-700"
              href="https://github.com/knnthdev"
              target="_blank"
            >
              <i class="fab fa-github"></i>
            </a>
            <a
              class="text-green-500 hover:text-green-700"
              href="https://www.instagram.com/kenneth.briones.332/"
              target="_blank"
            >
              <i class="fa-brands fa-instagram"></i>
            </a>
            <a
              class="text-green-500 hover:text-green-700"
              href="https://g.dev/kennethbriones"
              target="_blank"
            >
              <i class="fa-duotone fa-solid fa-code"></i>
            </a>
          </div>
        </div>
      </section>
    </section>
  </div>
</div>
