@reference "../styles.css";

#tooltip {
  --left: 50%;
  @apply bg-navbar w-fit fixed px-2 mx-2 text-white rounded-md ;
}

#tooltip::before {
  content: '';
  position: absolute;
  bottom: 98%;
  left: var(--left);
  border-width: 10px;
  border-style: solid;
  @apply border-transparent border-b-navbar;
}

#tooltip.overflow::before {
  content: '';
  position: absolute;
  top: 98%;
  left: var(--left);
  border-width: 10px;
  border-style: solid;
  @apply border-transparent border-t-navbar;
}

main {
  min-height: 100vh;
}
