#tooltip {
  --left: 50%;
}

#tooltip::before {
  content: '';
  position: absolute;
  bottom: 98%;
  left: var(--left);
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #09f transparent;
}

#tooltip.overflow::before {
  content: '';
  position: absolute;
  top: 98%;
  left: var(--left);
  border-width: 10px;
  border-style: solid;
  border-color: #09f transparent transparent transparent;
}

main {
  min-height: 100vh;
}
