<section class="card">
  <section class="container">
    <section class="left">
      <figure class="knnthpicture">
      </figure>
      <div class="details">
        <h3>Knowledge</h3>
        <ol>
          <li><strong>Object-oriented programming (OOP)</strong></li>
          <li>C#</li>
          <li>Python</li>
          <li>JAVA and Kotlin</li>
          <li>C++</li>
          <li>Angular + NetJS</li>
          <li>ASP.NET</li>
          <li>Winforms .NET</li>
        </ol>
      </div>
    </section>
    <section class="right">
      <div class="nav">
        <ul class="links">
          <li><a href="#">Portpholio</a></li>
          <li>|</li>
          <li>contact</li>
        </ul>
      </div>
      <div class="letter">
        <p>
          here it will be the text
        </p>
      </div>
    </section>
  </section>
</section>
