<footer class="footer mt-auto py-3 mt-32">
  <div class="container">
    <hr>
    <div class="flex md:flex-row max-md:flex-col flex-wrap items-center justify-evenly mb-14 mt-16">
      <div class="flex flex-col items-center">
        <h3>Websites</h3>
        <ul class="list-unstyled *:text-secondary *:hover:text-green-300">
          <li><a href="https://www.constructionjat.com/" target="_blank">Construction JAT</a></li>
        </ul>
      </div>
      <div class="flex flex-col items-center">
        <h3>App Mobiles</h3>
        <ul class="list-unstyled *:text-secondary *:hover:text-green-300">
        </ul>
      </div>
      <div class="flex flex-col items-center ">
        <h3>CRM Services</h3>
        <ul class="list-unstyled *:text-secondary *:hover:text-green-300">
          <li>
          </li>
        </ul>
      </div>
    </div>
    <hr>
    <p class="text-center">&copy; 2024 Todos los Derechos Reservados</p>
  </div>
</footer>
