<footer class="center black padding-64 opacity hover-opacity-off">
    <a href="#home" class="button light-grey"><i class="fa fa-arrow-up margin-right"></i>To the top</a>
    <div class="xlarge section social-media">
      <i class="fa-brands fa-facebook-official hover:opacity-30"></i>
      <i class="fa-brands fa-instagram hover:opacity-30"></i>
      <i class="fa-brands fa-pinterest-p hover:opacity-30"></i>
      <i class="fa-brands fa-twitter hover:opacity-30"></i>
      <i class="fa-brands fa-linkedin hover:opacity-30"></i>
    </div>
  </footer>

