<div class="flex flex-col items-center justify-center h-screen p-8">
  <h1 class="text-9xl font-bold text-white-300">404</h1>
  <p class="text-3xl text-white-200 mt-4">Página no encontrada</p>
  <p class="text-lg text-white-300">
    Lo sentimos, la vista que estás buscando no existe.
  </p>
    <p class="text-xl text-primary mt-6 text-center max-w-lg">
    ¿Te atreves a descubrir lo que realmente importa? Tu aventura comienza aquí.
  </p>
  <p class="text-lg text-secondary mt-4 text-center max-w-md">
    Cada día es una nueva oportunidad para crear algo hermoso. ¡No te rindas!
  </p>
  <a
    routerLink="/"
    class="mt-8 px-6 py-3 bg-btn-primary text-white rounded-md hover:bg-hoverbutton transition-colors"
  >
    ¡ir al lugar correcto!
  </a>
</div>

