<div class="container md:grid grid-cols-4 gap-x-4 p-8">
  <div class="col-span-3 [&_h4]:font-bold [&>.job]:p-2">
    <h1 class="text-lg font-bold mb-4 text-pink-500">Experiencia Laboral</h1>
    <div class="job">
      <h4>Soluciones Tecnológicas Profesionales S.A — Soporte Técnico</h4>
      <p class="text-xs mb-2">Mayo 2024 – Actualmente laborando</p>
      <p>
        Configuración de equipos de red y computo, gestión e instalación de
        sistemas de redes de internet, asistencia in situ.
      </p>
    </div>
    <div class="job">
      <h4>Cause For Hope — Soporte Técnico</h4>
      <p class="text-xs mb-2">Marzo 2023 - Julio 2023</p>
      <p>
        Instalaciones de redes con cableado, así como configuración de sistemas
        operativos, activación de licencias y la reparación de equipos
        defectuosos, brindando soporte técnico eficiente. Además, he llevado a
        cabo tareas de generación de informes, análisis de datos, capacitación,
        trabajo en equipo y proporcionaba asistencia a los participantes del
        programa a través de un CRM (chat en línea).
      </p>
    </div>
    <div class="job">
      <h4>Waterloo (Nestrix) — Ejecutivo de ventas</h4>
      <p class="text-xs mb-2">Agosto 2021 - Octubre 2021</p>
      <p>
        Me especializaba en ventas utilizando herramientas automatizadas de
        conversación, específicamente el CRM ATOM, y gestionar a clientes a
        través de llamadas telefónicas para ofrecerles servicios.
      </p>
    </div>
    <div class="job">
      <h4>MyHostDeluxe.com — Asesor Marketing Digital</h4>
      <p class="text-xs mb-2">abril 2020 - julio 2021</p>
      <p>
        Mi enfoque laboral se centraba en la venta de páginas web y servicios de
        marketing digital. Además, colaboraba en la creación de banners para los
        clientes y me encargaba de identificar y filtrar negocios que requerían
        servicios específicos.
      </p>
    </div>
    <div class="job">
      <h4>
        La Iglesia de Jesucristo de los Santos de los Últimos Días en México -
        Misionero
      </h4>
      <p class="text-xs mb-2">Marzo 2018 - Marzo 2020</p>
      <p>
        Experiencia en Liderazgo y responsabilidad de trabajo en equipo, fijar
        metas y planes en los proyectos. Experiencia en Capacitar a grupos de
        entre 4 a 6 personas sobre carácter, valores humanos, cultura e idioma
        al compañerismo extranjero; dirigido a metas y planes para llevarlos a
        cabo.
      </p>
    </div>
  </div>

  <div class="col-start-4 [&_h4]:font-bold [&_li]:p-2">
    <h3 class="text-lg font-bold mb-4 text-pink-500">Logros y Aptitudes</h3>
    <h4>Aptitudes</h4>
    <ul class="list-disc">
      <li>Proactivo</li>
      <li>Ingenioso</li>
      <li>Confidente</li>
      <li>Colaborador</li>
      <li>Responsable</li>
    </ul>
    <h4>Logros</h4>
    <ul class=" [&>li]:text-sm max-md:[&>li]:text-md">
      <li>
        Servidor espejo: software tipo servidor con el fin de reflejar un
        servidor local a una red privada. C# .NET Framework. Agosto -
        Septiembre 2023
      </li>
      <li>
        Instalación de red: Estructura que
        realicé en equipo para proveer de
        internet a un laboratorio de 21
        computadoras con cableado utp y
        un switch base 1000. Mayo 2023
      </li>
      <li>
          Mi App-Educativa: software creado
          en Android Studio y Kotlin con fines
          educativos. Julio - Agosto 2022
      </li>
      <li>
        Lenguajes de Programación
        adquiridos: SQL Server, VB.Net, C#,
        Python, Kotlin, Java, HTML, CSS, JS.
        2017 - 2022.
      </li>
      <li>
          Ofimática: Microsoft Office 365
          (Word, Excel, PowerPoint,
          Publisher) - 2016
      </li>
    </ul>
  </div>
  <div class="col-start-1 col-end-2 [&_h4]:font-bold [&>.education]:p-2 mt-8">
    <h3 class="text-lg font-bold mb-4 text-pink-500">Formación</h3>
    <div class="education">
      <h4>Bachiller</h4>
      <p>Colegio Privado Católico San Martin De Porres. (Ciudad Sandino)</p>
      <p>2011 - 2016</p>
    </div>
    <div class="education">
      <h4>Idioma Inglés</h4>
      <p>Nivel A2</p>
    </div>
  </div>
</div>