@source "./src/app/routes/**/*.{html,ts}";
@source "./src/app/app.component.{html,ts}";

@import "tailwindcss";

@custom-variant green (&:where(.green, .green *));
@custom-variant red (&:where(.red, .red *));
@custom-variant purple (&:where(.purple, .purple *));
@custom-variant yellow (&:where(.yellow, .yellow *));
@custom-variant blue (&:where(.blue, .blue *));
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: var(--bg-primary);
  --color-rg: var(--bg-radial-gradient);
  --color-line: var(--border-line);
  --color-primary: var(--text-primary);
  --color-secondary: var(--text-secondary);
  --color-hoverbutton: var(--hover-button);
  --color-hoverfigcaption: var(--hover-figcaption);
  --color-btn-primary: var(--btn-primary);
  --color-btn-secondary: var(--btn-secondary);
  --color-btn-submit: var(--btn-submit);
}

.light {
  --navbar-onscroll: #f5f5f7;
  --bg-primary: #ffffff;
  --bg-radial-gradient: radial-gradient(#ffffff, #f5f5f7);
  --border-line: #dcdcdc;
  --text-primary: #1d1d1f;
  --text-secondary: #6e6e73;
  --hover-button: #0062cc;
  --hover-figcaption: rgba(0, 0, 0, 0.1);
  --btn-primary: #f5f5f7;
  --btn-secondary: #e8e8ed;
  --btn-submit: #007aff;
  background: var(--bg-primary);
  color: var(--text-primary);
}

.red {
  --navbar-onscroll: #660000;
  --bg-primary: #b11616;
  --bg-radial-gradient: radial-gradient(#4d0000, #1a0000, #000000);
  --border-line: #ff3333;
  --text-primary: #f5f5f5;
  --text-secondary: #ff9999;
  --hover-button: #ff4d4d;
  --hover-figcaption: rgba(255, 77, 77, 0.5);
  --btn-primary: #800000;
  --btn-secondary: #990000;
  --btn-submit: #cc0000;
  background: var(--bg-primary);
  color: var(--text-primary);
}

.green {
  --navbar-onscroll: #1d8348;
  --bg-primary: #2b3529;
  --bg-radial-gradient: radial-gradient(#1b1a55, #070f2b, #01030e);
  --border-line: #333;
  --text-primary: #ddd;
  --text-secondary: #abacab;
  --hover-button: rgba(110, 231, 183);
  --hover-figcaption: rgba(110, 231, 183, 0.5);
  --btn-primary: #1a1a1a;
  --btn-secondary: #41a372;
  --btn-submit: #6f6f6f;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}
.blue {
  --navbar-onscroll: #2c3e50;
  --bg-primary: #2f5aaa;
  --bg-radial-gradient: radial-gradient(#1b1a55, #070f2b, #01030e);
  --border-line: #99afdd;
  --text-primary: #ddd;
  --text-secondary: #101828;
  --hover-button: rgba(100, 181, 246, 1);
  --hover-figcaption: rgba(100, 181, 246, 0.5);
  --btn-primary: #1c2833;
  --btn-secondary: #273746;
  --btn-submit: #566573;

  background-color: var(--bg-primary);
  color: var(--text-primary);
}
.purple {
  --navbar-onscroll: #7b1fa2;
  --bg-primary: #5d0697;
  --bg-radial-gradient: radial-gradient(#26262c, #18181b, #000000);
  --border-line: #9146ff;
  --text-primary: #efefef;
  --text-secondary: #adadb8;
  --hover-button: rgba(145, 70, 255, 1);
  --hover-figcaption: rgba(145, 70, 255, 0.5);
  --btn-primary: #3a3a3d;
  --btn-secondary: #505056;
  --btn-submit: #9146ff;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}
.yellow {
  --navbar-onscroll: #b38600;
  --bg-primary: #f1ba02;
  --bg-radial-gradient: radial-gradient(#5d5337, #3e3823, #1b0000);
  --border-line: #ffd54f;
  --text-primary: #4e3c02;
  --text-secondary: #757303;
  --hover-button: rgba(255, 235, 59);
  --hover-figcaption: rgba(255, 235, 59, 0.5);
  --btn-primary: #4e342e;
  --btn-secondary: #6d4c41;
  --btn-submit: #a1887f;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}
.dark {
  --navbar-onscroll: #0a0a0a;
  --bg-primary: #1b1b1b;
  --bg-radial-gradient: radial-gradient(#1f1f1f, #0a0a0a, #000000);
  --border-line: #e5e4e2;
  --text-primary: #f5f5f5;
  --text-secondary: #a9a9a9;
  --hover-button: #a8a7a7;
  --hover-figcaption: rgba(229, 228, 226, 0.7);
  --btn-primary: #282828;
  --btn-secondary: #3d3d3d;
  --btn-submit: #e5e4e2;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

html {
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  overflow-y: auto;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  padding-left: 8%;
  padding-right: 8%;
}

body,
html {
  min-height: max-content;
  line-height: 1.8;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

@media (max-width: 1024px) {
  body {
    padding-left: 6%;
    padding-right: 6%;
    min-height: min-content;
  }
}
@media (max-width: 768px) {
  body,
  html {
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth;
    padding: 0;
  }
}

@layer base {
  * {
    background-color: inherit;
    color: inherit;
  }
}

.size-fixed {
  min-width: 288px;
  min-height: 288px;
}

.card {
  @apply rounded shadow dark:shadow-[0_2px_10px_rgba(255,255,255,0.3)] p-8 m-8 backdrop-blur bg-white/10 dark:bg-black/10;
}

.rier-init {
  background-color: #dfdbe507;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%239C92AC' fill-opacity='0.15' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E");
}
.rier-1 {
  background: linear-gradient(
    rgba(71, 5, 179, 0.473),
    rgba(93, 10, 170, 0.473),
    rgba(93, 1, 179, 0.39),
    rgba(46, 2, 87, 0.774),
    rgb(26, 3, 70)
  );
}
.rier-2 {
  background: linear-gradient(
    rgba(15, 2, 51, 0.637),
    rgba(32, 2, 116, 0.589),
    rgba(28, 3, 99, 0.596),
    rgba(17, 1, 85, 0.61),
    rgba(14, 1, 39, 0.904)
  );
}
.rier-3 {
  background: linear-gradient(
    rgb(0, 0, 0),
    rgb(38, 38, 39),
    rgb(34, 33, 34),
    rgba(23, 23, 24, 0.904),
    rgb(22, 22, 22)
  );
}
