@import "tailwindcss";

@import "./typography.css";
@import "./themes.css";

html {
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  overflow-y: auto;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  padding-left: 8%;
  padding-right: 8%;
}

body,
html {
  min-height: max-content;
  line-height: 1.8;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

@media (max-width: 1024px) {
  body {
    padding-left: 6%;
    padding-right: 6%;
    min-height: min-content;
  }
}
@media (max-width: 768px) {
  body,
  html {
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth;
    padding: 0;
  }
}

@layer base {
  * {
    background-color: inherit;
    color: inherit;
  }
}

.size-fixed {
  min-width: 288px;
  min-height: 288px;
}

.card {
  @apply rounded shadow-[0_2px_10px_rgba(255,255,255,0.3)] p-8 backdrop-blur;
}

.rier-init {
  background-color: #dfdbe507;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%239C92AC' fill-opacity='0.15' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E");
}

