@use "sass:math"
@import tailwindcss/base
@import tailwindcss/components
@import tailwindcss/utilities

.light 
  --bg-primary: #fff
  --border-line: #ccc
  --text-primary: #111
  --text-secondary: #222
  --hover-button: rgba(110, 231, 183)
  --hover-figcaption: rgba(110, 231, 183, 0.5)
  background: var(--bg-primary)
  color: var(--text-primary)

.dark
  --bg-primary: #222
  --border-line: #333
  --text-primary: #ddd
  --text-secondary: #eee
  --hover-button: rgba(110, 231, 183)
  --hover-figcaption: rgba(110, 231, 183, 0.5)
  background: var(--bg-primary)
  color: var(--text-primary)

body,h1,h2,h3,h4,h5,h6
  font-family: "Lato", sans-serif

body, html
  min-height: 100%
  line-height: 1.8

*
  background-color: inherit
  color: inherit
