@custom-variant light (&:where(.light, .light *));
@custom-variant silver (&:where(.silver, .silver *));
@custom-variant pearl (&:where(.pearl, .pearl *));
@custom-variant red (&:where(.red, .red *));
@custom-variant green (&:where(.green, .green *));
@custom-variant blue (&:where(.blue, .blue *));
@custom-variant purple (&:where(.purple, .purple *));
@custom-variant yellow (&:where(.yellow, .yellow *));
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-navbar: var(--navbar-onscroll);
  --color-background: var(--bg-primary);
  --color-line: var(--border-line);
  --color-primary: var(--text-primary);
  --color-secondary: var(--text-secondary);
  --color-hoverbutton: var(--hover-button);
  --color-hoverfigcaption: var(--hover-figcaption);
  --color-btn-primary: var(--btn-primary);
  --color-btn-secondary: var(--btn-secondary);
  --color-btn-submit: var(--btn-submit);
}

.light {
  --navbar-onscroll: #eae0c8;
  --bg-primary: #ffffff;
  --border-line: #dcdcdc;
  --text-primary: #1d1d1f;
  --text-secondary: #6e6e73;
  --hover-button: #0062cc;
  --hover-figcaption: rgba(0, 0, 0, 0.1);
  --btn-primary: #f5f5f7;
  --btn-secondary: #e8e8ed;
  --btn-submit: #007aff;
  background: var(--bg-primary);
  color: var(--text-primary);
}

.silver {
  --navbar-onscroll: #eae0c8;
  --bg-primary: #c3ccca;
  --border-line: #dcdcdc;
  --text-primary: #1d1d1f;
  --text-secondary: #6e6e73;
  --hover-button: #0062cc;
  --hover-figcaption: rgba(0, 0, 0, 0.1);
  --btn-primary: #f5f5f7;
  --btn-secondary: #e8e8ed;
  --btn-submit: #007aff;
  background: var(--bg-primary);
  color: var(--text-primary);
}

.pearl {
  --navbar-onscroll: #f8d9ab;
  --bg-primary: #d9a492;
  --border-line: #cde6f5;
  --text-primary: #3b4252;
  --text-secondary: #818c9c;
  --hover-button: #a6d4f1;
  --hover-figcaption: rgba(166, 212, 241, 0.4);
  --btn-primary: #f5e1c8;
  --btn-secondary: #d4d4d4;
  --btn-submit: #bde0fe;
  background: var(--bg-primary);
  color: var(--text-primary);
}

.red {
  --navbar-onscroll: #660000;
  --bg-primary: #b11616;
  --border-line: #ff3333;
  --text-primary: #f5f5f5;
  --text-secondary: #ff9999;
  --hover-button: #ff4d4d;
  --hover-figcaption: rgba(255, 77, 77, 0.5);
  --btn-primary: #800000;
  --btn-secondary: #990000;
  --btn-submit: #cc0000;
  background: var(--bg-primary);
  color: var(--text-primary);
}

.green {
  --navbar-onscroll: #1d8348;
  --bg-primary: #2b3529;
  --border-line: #333;
  --text-primary: #dddddd;
  --text-secondary: #dae2da;
  --hover-button: rgba(110, 231, 183);
  --hover-figcaption: rgba(110, 231, 183, 0.5);
  --btn-primary: #00dd88;
  --btn-secondary: #3d4b3a;
  --btn-submit: #1b9c46;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}
.blue {
  --navbar-onscroll: #2c3e50;
  --bg-primary: #2f5aaa;
  --border-line: #99afdd;
  --text-primary: #ddd;
  --text-secondary: #bdcae4;
  --hover-button: rgba(100, 181, 246, 1);
  --hover-figcaption: rgba(100, 181, 246, 0.5);
  --btn-primary: #2478bd;
  --btn-secondary: #273746;
  --btn-submit: #0084ff;

  background-color: var(--bg-primary);
  color: var(--text-primary);
}
.purple {
  --navbar-onscroll: #7b1fa2;
  --bg-primary: #421566;
  --border-line: #9146ff;
  --text-primary: #efefef;
  --text-secondary: #adadb8;
  --hover-button: rgba(145, 70, 255, 1);
  --hover-figcaption: rgba(145, 70, 255, 0.5);
  --btn-primary: #0f3f47;
  --btn-secondary: #3a3058;
  --btn-submit: #9146ff;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}
.yellow {
  --navbar-onscroll: #d6a206;
  --bg-primary: #e9bf04;
  --border-line: #ffe591;
  --text-primary: #024d4d;
  --text-secondary: #2e2e24;
  --hover-button: rgba(255, 235, 59);
  --hover-figcaption: rgba(255, 235, 59, 0.5);
  --btn-primary: #ebd300;
  --btn-secondary: #dfab00;
  --btn-submit: #366279;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}
.dark {
  --navbar-onscroll: #000000;
  --bg-primary: #1b1b1b;
  --border-line: #e5e4e2;
  --text-primary: #f5f5f5;
  --text-secondary: #a9a9a9;
  --hover-button: #a8a7a7;
  --hover-figcaption: rgba(229, 228, 226, 0.7);
  --btn-primary: #282828;
  --btn-secondary: #3d3d3d;
  --btn-submit: #e5e4e2;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}
