<nav id="navbar" class="fixed top-0 left-0 w-full z-20 transition-colors duration-300" [class.scrolled]="isScrolled">
  <div class="w-full justify-center flex-col items-center p-0 md:px-24">
    <div id="ref" class="lg:container lg:mx-auto md:h-14 flex justify-between p-3 max-md:max-h-12 items-center [&_a]:hover:text-hoverbutton">
      <!-- Botón de menú móvil -->
      <section class="md:hidden flex flex-row items-center">
        <label id="ham" class="pointer" title="Navigation Menu" (click)="toggleMenu()">
          <i id="icon-ham" class="fa fa-bars p-3 mr-1 rounded hover:bg-btn-secondary"></i>
        </label>
        <figure class="block">
          <a class="cursor-pointer" routerLink="/home" target="_self">
            <img src="/assets/logo.svg" width="30px" height="30px">
          </a>
        </figure>
      </section>

      <!-- Enlaces para escritorio -->
      <a href="/home#home" class="max-md:hidden"><i class="fa-solid fa-home"></i> Inicio</a>
      <a href="/home#about" class="max-md:hidden"><i class="fa-solid fa-user"></i> Sobre mí</a>
      <a href="/home#services" class="max-md:hidden"><i class="fa-solid fa-diagram-project"></i> Servicios</a>
      <a href="/home#contact" class="max-md:hidden"><i class="fa-solid fa-envelope"></i> Contacto</a>
    </div>
  </div>
</nav>

<!-- Menú Deslizable desde Arriba -->
<div 
  id="full-screen-menu"
  class="fixed top-0 left-0 w-full h-full bg-opacity-90 z-50 flex flex-col items-center justify-center space-y-8"
  [ngStyle]="menuStyle"
  (touchstart)="onTouchStart($event)"
  (touchmove)="onTouchMove($event)"
  (touchend)="onTouchEnd()"
>
  <a href="/home#home" class="text-4xl text-primary hover:text-secondary" (click)="toggleMenu()">Inicio</a>
  <a href="/home#about" class="text-4xl text-primary hover:text-secondary" (click)="toggleMenu()">Sobre mí</a>
  <a href="/home#services" class="text-4xl text-primary hover:text-secondary" (click)="toggleMenu()">Servicios</a>
  <a href="/home#contact" class="text-4xl text-primary hover:text-secondary" (click)="toggleMenu()">Contacto</a>

  <a href="javascript:void(0)" class="absolute top-5 right-5 text-4xl text-primary hover:text-secondary" (click)="toggleMenu()">
    &times;
  </a>
</div>
