<main class="md:mt-8">
    <section>
        <figure class="relative w-full h-64 overflow-hidden">
            <img src="https://images.pexels.com/photos/965345/pexels-photo-965345.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="layout2" class="absolute w-full">
        </figure>
        <h1 class="text-center text-3xl font-bold mt-8">Gestión de Proyectos</h1>
        <p class="text-center text-lg mt-4">
            Me encargo de diseñar y cuidar los sitios web, implemento y mantengo cada detalle. Pruebo con dedicación
            para asegurar la calidad de los sitios y aplicaciones, siempre buscando ofrecer la mejor calidad posible.
        </p>
    </section>
    <section class="mt-16">
        <div class="flex flex-col md:flex-row gap-y-8 justify-around mt-16">
            <div class="flex flex-col items-center">
                <img src="https://via.placeholder.com/168" alt="component1" class="size-24">
                <h3 class="text-lg font-bold mt-4">Título del componente 1</h3>
                <p class="text-sm mt-2">Subtítulo del componente 1</p>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">
                    Más información</button>
            </div>
            <div class="flex flex-col items-center">
                <img src="https://via.placeholder.com/168" alt="component2" class="size-24">
                <h3 class="text-lg font-bold mt-4">Título del componente 2</h3>
                <p class="text-sm mt-2">Subtítulo del componente 2</p>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">
                    Más información</button>
            </div>
            <div class="flex flex-col items-center">
                <img src="https://via.placeholder.com/168" alt="component3" class="size-24">
                <h3 class="text-lg font-bold mt-4">Título del componente 3</h3>
                <p class="text-sm mt-2">Subtítulo del componente 3</p>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">
                    Más información
                </button>
            </div>
        </div>
    </section>
</main>